/* --------- ABOUT --------- */

#about {
  padding: 80px 0;
  color: #00aec7;
  width: 100%;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 18px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.about-col-2 p {
  color: #fff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  color: #fff;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #f79621;
  position: absolute;
  left: 0;
  bottom: -8px;
  border-radius: 50%;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  color: #fff;
  font-size: 20px;
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  font-size: 25px;
  color: #f79621;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.tab-imgs {
  display: none;
}

.tab-imgs.active-img {
  display: block;
}

.spaced-paragraph {
  margin-bottom: 10px;
}
