* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  background: #232323;
  color: #fff;
}

/* ----------- SCROLL BAR -------------*/

::-webkit-scrollbar {
  width: 8px;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #f79621;
  border-radius: 50%;
}

::-webkit-scrollbar-thumb:hover {
  background: #00aec7;
}

.scroll-to {
  color: #f79621;
  text-align: center;
}

.scroll-to.scroll-to-header {
  margin-top: 320px;
}

.div-scrollify {
  height: 100vh; /* Ensure sections are at least the height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
