#contact {
  color: #fff;
  width: 100%;
  height: 100vh; /* Assicura che la sezione riempia l'altezza della finestra */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Spinge il contenuto in basso */
}

.container {
  flex-grow: 1;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-weight: 600;
  background-color: #262626;
  margin-top: auto; /* Spinge il footer in fondo alla pagina */
}

.sub-title.titlecontact {
  margin-bottom: 40px;
}

.contact-left {
  flex-basis: 7%;
  display: flex;
  justify-content: center;
}

.contact-right {
  flex-basis: 60%;
}

.social-icons a {
  text-decoration: none;
  font-size: 120px;
  display: block;
  color: #00aec7;
  transition: transform 0.5s;
  margin-left: 250px;
}

.social-icons a:hover {
  color: #f79621;
  transform: translateY(-5px);
}

.social-icons a i {
  margin-top: -10px;
  margin-bottom: 17px;
  display: block;
  margin-right: 1px;
  margin-left: 1px;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #333333;
  padding: 15px;
  margin: 0 0 30px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

#success-message,
#error-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

#success-message {
  background-color: #c7f0c7;
  color: #008000;
}

#error-message {
  background-color: #f0c7c7;
  color: #ff0000;
}
