/* --------- HEADER --------- */


#header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/background-website.gif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
 
}

.logo {
  transform: none !important;
}

.container {
  padding: 10px 10%;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 300px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 50px 30px;
  margin-right: 100px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}


nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #F79621;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-radius: 50%;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}


.header-text {
  margin-top: 10%;
  font-size: 30px;

}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #F79621;
}

.nickname {
  font-size: 40px;
}



.divnickname p span {
  color: #F79621;
  font-weight: 600;
}