/* ---------------------------Responsive------------------------*/

nav .fas {
  display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {

  #about {
    height: auto;
  }

  #portfolio {
    height: auto;
  }

  #contact {
    height: auto;
  }

  #header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/mobile-background-website.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
   
  }

  .header-text {
    margin-top: 100px;
    font-size: 10px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  .header-text p {
    font-size: 18px;
  }



  nav .fas {
    display: block;
    font-size: 25px;

  }

  nav ul {
    background: #F79621;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
    font-size: 50px;
  }

  nav ul .fa-times {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .logo {
    width: 190px;
  }

  .fa-bars {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }

  .scroll-to {
    display: none;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  div .tab-contents li{
    font-size: 16px;
  }

  .tab-links {
    font-size: 18px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
    font-size: small;
  }

  div.portfolio-list {
    margin: auto;
  }

  h1.sub-title {
    margin-bottom: 20px;
  }

  .social-icons a {
    font-size: 70px;
    display: block;
    margin-left: 15px;
    margin-bottom: 30px;
  }

  div.social-icons {
    display: flex;
    justify-content: center;
  }
}