/* --------------- MY WORK -------------- */

#portfolio {
  padding: 30px 0;
  color: #232323;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.portfolio-list div {
  background: #00aec7;
  padding: 20px;
  font-size: 13px;
  border-radius: 15px;
  transition: background 0.5s, transform 0.5s;
  height: auto;
  box-sizing: border-box;
}

.portfolio-list div i {
  font-size: 50px;
  margin-bottom: 20px;
}

.portfolio-list div h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.portfolio-list div p {
  font-size: 16px;
}

.portfolio-list div:hover {
  background: #f79621;
  transform: translateY(-10px);
}
